* {
    color: #f6de7d;
    font-family: "Prompt";
}

.g_back {
    text-decoration: none;
    font-family: "Prompt";
    text-align: center;
    background-color: #192427;
    color: #f6de7d;
    font-weight: 500;
    font-size: 3.5vh;
    padding: 1%;
    margin-left: 20%;
    margin-top: 20%;
    border-style: solid;
    border-color: #f6de7d;
    border-width: 10%;
    border-radius: 20%;
    height: 20%;
}

.g_back:hover {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    background-color: #f6de7d;
    color: #192427;
}


body {
    background-color: #192427;
}

.ac {
    text-decoration: none;
    font-family: "Montserrat";
    color: #f6de7d;
    font-weight: 600;
    font-size: 6vh;
    text-align: center;
    text-shadow: 0 0 2vh #f6de7d;
    margin-top: 13vh;
}

.act_1 {
    font-family: "Prompt";
    color: #f6de7d;
    font-weight: 500;
    font-size: 4vh;
    text-align: center;
    text-shadow: 0 0 2vh #f6de7d;
    padding-bottom: 5vh;
}

.act_1_im {
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
}

.ap_1,
.ap_2 {
    width: 30%;
    border-radius: 5%;
    border-style: solid;
    border-color: #f6de7d;
    border-width: 1vh;
    height: 30%;
}

.ap_2 {
    margin-top: 2%;
}

#ad {
    padding-top: 5vh;
    padding-left: 60vh;
}

.ap_3,
.ap_4 {
    width: 30%;
    border-radius: 5%;
    border-style: solid;
    border-color: #f6de7d;
    border-width: 1vh;
    height: 30%;
}

.ap_3 {
    width: 14rem;
}

.act_2 {
    margin-top: 5%;
    font-weight: 500;
    font-size: 4vh;
    text-align: center;
    text-shadow: 0 0 2vh #f6de7d;
    padding-bottom: 5vh;
}

#unline_1 {
    margin-top: 8vh;
    width: 58vw;
    height: 0.5vh;
    background-color: #f6de7d;
    margin-left: 20vw;
}

#unline_2 {
    margin-top: 8vh;
    margin-bottom: 10vh;
    width: 58vw;
    height: 0.5vh;
    background-color: #192427;
    margin-left: 20vw;
}

#unline_3 {
    margin-top: 8vh;
    margin-bottom: 7%;
    width: 58vw;
    height: 0.5vh;
    background-color: #192427;
    margin-left: 20vw;
}

#ad_2,
#ad_3 {
    padding-top: 5vh;
}

#ad_2 {
    padding-left: 55vh;
}

#ad_3 {
    padding-left: 54vh;
}